.team-card__description,
.form-feedback__email-submit::placeholder {
  margin: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

.team-card__description {
  color: #999999;
  position: absolute;
  bottom: 0px;
}

.site-footer__description,
.site-footer__link {
  margin: 0;
  font-family: "Montserrat", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 14px;
}

.site-footer__description {
  color: #333333;
  height: fit-content;
  width: 297px;
  line-height: 40px;
}

.site-footer__link {
  color: #f38181;
}

.site-footer__link:hover,
.site-footer__link:focus {
  color: #fce38a;
}

.form-feedback__email-submit::placeholder {
  color: #cccccc;
}

.form-feedback__button-submit,
.button--transparent {
  font-weight: 700;
  width: 162px;
  height: 40px;
  cursor: pointer;
}

/* Background Styles */
.background-container {
  width: 100%;
  background-image: url(https://i.ibb.co/3mMrJNv/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  margin-bottom: 50px;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .background-container {
    background-image: url(https://i.ibb.co/nLw62Pr/background-2x.jpg);
  }
}

/* Header Styles */

.site-header {
  display: grid;
  grid-template-columns: 6fr 7fr;
  height: 90px;
  margin-bottom: 146px;
  box-sizing: content-box;
}

.site-logo {
  margin-top: 30px;
}

.site-logo,
.site-logo__img {
  width: 90px;
  height: 24px;
  fill: #ffffff;
}

.site-logo:hover,
.site-logo:focus {
  border-bottom: 3px solid #fce38a;
  padding-bottom: 12px;
}

.site-logo:hover .site-logo__img,
.site-logo:focus .site-logo__img {
  fill: #fce38a;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 12px;
}

.site-nav__link--basket {
  font-size: 18px;
  font-family: 'icomoon';
}

.site-nav__link--basket::before {
  content: "\e902";
}

.site-nav__link--magnafier {
  font-size: 15px;
  font-family: 'icomoon';
}

.site-nav__link--magnafier::before {
  content: "\e909";
}

.site-nav {
  margin-top: 40px;
  height: 14px;
  display: grid;
}

.site-nav__list {
  display: grid;
  grid-template-columns: repeat(5, 2fr) repeat(2, 1fr);
}

.site-nav__item {
  display: grid;
  justify-content: center;
}

/* Welcome Styles */

.section-welcome__subtitle {
  margin-bottom: 50px;
}

.button--transparent {
  outline: unset;
  border: 3px solid #ffffff;
  background-color: transparent;
}

.button--transparent:hover,
.button--transparent:focus {
  border: 3px solid #e88383;
  color: #e88383;
  transition: border 0.6s linear, color 0.6s linear;
}

/* Services Styles */

.section-services,
.section-team {
  display: grid;
  grid-template-columns: 1fr;
}

.section-services__title::after,
.section-team__title::after {
  margin-bottom: 60px;
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  content: "";
  margin: 40px auto 0;
}

.section-services__list {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 100px;
  font-family: "icomoon";
  margin-bottom: 90px;
}

.section-services__item {
  padding-left: 92px;
  position: relative;
}

.section-services__icon::before {
  color: #95e1d3;
  font-size: 40px;
  position: absolute;
  left: 30px;
  top: 2px;
}

.section-services__icon--alarm::before {
  content: "\e900";
}

.section-services__icon--linegrapf::before {
  content: "\e908";
}

.section-services__icon--computer::before {
  content: "\e903";
}

.section-services__icon--book::before {
  content: "\e901";
}

.section-services__icon--home::before {
  content: "\e905";
}

.section-services__icon--digital::before {
  content: "\e906";
}

.section-services__small-title {
  margin-bottom: 18px;
}

/* Team styles */

.section-team__description {
  max-width: 980px;
  margin: 0 auto 90px auto;
}

.section-team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.team-card {
  margin: 0 0 80px 0;
  display: grid;
  justify-items: center;
  position: relative;
  width: 380px;
  height: 540px;
}

.team-card__photo-container {
  position: absolute;
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
}

.team-card__photo-container:hover .team-card__item,
.team-card__photo-container:hover .team-card__img,
.team-card__photo-container:hover .social-list {
  transform: translateX(-10px) translateY(-10px);
}

.team-card__photo-container:hover .social-list {
  opacity: 1;
}

.team-card__photo-container:hover .team-card__item {
  opacity: 0.8;
}

.team-card__item {
  position: absolute;
  width: 380px;
  height: 470px;
  transition: transform 0.4s linear, opacity 0.4s linear;
  z-index: 1;
  opacity: 0;
}

.team-card__img {
  position: absolute;
  transition: transform 0.4s linear, opacity 0.4s linear;
}

.social-list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: 207px;
  left: 73px;
  z-index: 2;
  opacity: 0;
  transition: transform 0.4s linear, opacity 0.4s linear;
}

.social-list__link {
  display: block;
  width: 56px;
  height: 56px;
  font-family: "icomoon";
  color: #f38181;
  line-height: 56px;
  font-size: 30px;
  background-color: #fce38a;
  transition: background 0.5s linear, color 0.3s linear;
}

.social-list__link:hover,
.social-list__link:focus {
  color: #ffffff;
  background-color: #f38181;
}

.social-list__item:not(:last-child) {
  border-right: 1px solid #f38181;
}

.social-list__link--facebook::before {
  content: "\e904";
}

.social-list__link--twitter::before {
  content: "\e90b";
}

.social-list__link--pinterest::before {
  content: "\e90a";
}

.social-list__link--instagram::before {
  content: "\e907";
}

.team-card__item--gradient {
  background-image: linear-gradient(0deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
}

/* Footer styles */

.site-footer {
  display: grid;
  grid-template-columns: 297fr 380fr;
  grid-column-gap: 523px;
  align-content: center;
  height: 60px;
  border-top: 1px solid #e5e5e5;
}

.form-feedback {
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 230fr 150fr;
}

.form-feedback__button-submit {
  width: 150px;
  height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #95e1d3;
  margin: 0;
  padding: 0;
  border: none;
}

.form-feedback__button-submit:hover,
.form-feedback__button-submit:focus {
  background-color: #fce38a;
  color: #e88383;
  transition: background 0.6s linear, color 0.6s linear;
}

.form-feedback__email-submit {
  color: #cccccc;
  height: 40px;
  width: 230px;
  text-indent: 12px;
}
