.background-container {
  width: 100%;
  background-image: url(https://i.ibb.co/3mMrJNv/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  margin-bottom: 50px;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background-container {
      background-image: url(https://i.ibb.co/nLw62Pr/background-2x.jpg);
    }
  }
}
