.text {
  margin: 0;
  font-family: $roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
}

.title {
  margin: 0;
  font-family: $Montserrat;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  font-family: $Kaushan-Script;
  font-weight: 400;
}

.site-nav__link,
.form-feedback__button-submit,
.button--transparent {
  font-family: $Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  color: $white-link-color;
}

.site-nav__link {
  font-weight: 400;
}

.section-welcome__subtitle {
  font-size: 72px;
  color: $white-link-color;
}

.section-welcome__title {
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: $white-link-color;
  max-width: 850px;
  margin: 0 auto 120px auto;
}

.section-services__subtitle,
.section-team__subtitle {
  font-size: 24px;
  color: $title-color;
  margin-bottom: 20px;
}

.section-services__title,
.section-team__title {
  font-weight: 700;
  font-size: 30px;
  color: $title-color;
  margin-bottom: 50px;
}

.section-services__small-title {
  font-weight: 700;
  font-size: 14px;
  color: $title-color;
}

.team-card__name {
  font-weight: 700;
  font-size: 14px;
  color: $title-color;
  position: absolute;
  bottom: 26px;
}

.team-card__description,
.form-feedback__email-submit::placeholder {
  margin: 0;
  font-family: $roboto;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

.team-card__description {
  color: $text-color;
  position: absolute;
  bottom: 0px;
}

.site-footer__description,
.site-footer__link {
  margin: 0;
  font-family: $Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.site-footer__description {
  color: $title-color;
  height: fit-content;
  width: 297px;
  line-height: 40px;
}

.site-footer__link {
  color: $main-color;

  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.form-feedback__email-submit::placeholder {
  color: $placeholder-color;
}

.form-feedback__button-submit,
.button--transparent {
  font-weight: 700;
  width: 162px;
  height: 40px;
  cursor: pointer;
}
