html {
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    max-height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Formating header */

.promo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 540px;
    margin-bottom: 70px;
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/7221db8576cf07e362c8ae8e96d96d59.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-promo {
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.nav-list,
.partners-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    width: 100%;
    min-height: 76px;
    justify-content: center;
    align-items: center;
}

.nav-list-item {
    min-width: 92px;
    min-height: 36px;
}

.nav-list-item:focus,
.nav-list-item:hover {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.nav-list-link {
    text-decoration: none;
    line-height: 36px;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
}

.logo {
    order: 1;
}

.promo-title,
.promo-subtitle,
.partners-title,
.partners-item-title,
.partners-item-description {
    margin: 0;
}

.promo-title {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    margin: 0 10px 14px 10px;
    text-transform: uppercase;
    line-height: 1.2;
}

.promo-subtitle {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 50px 18px 50px;
}

.find-button,
.see-other-button {
    min-width: 280px;
    line-height: 40px;
    color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 24px;
    background-color: #ff4e50;
    align-self: center;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-size: 1rem;
    font-weight: 700;
    outline: unset;
    padding: 0;
}

.find-button:focus,
.find-button:hover {
    cursor: pointer;
    border: 2px solid #ffffff;
}

/* Formating partners */

.partners-title {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 700;
    line-height: 1.2;
    font-size: 22px;
    color: #333333;
    margin-bottom: 18px;
}

.partners-item-title {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 700;
    line-height: 1;
    font-size: 1rem;
    color: #333333;
    margin: 20px 0;
}

.partners-item-description {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 300;
    line-height: 1.2;
    font-size: 1rem;
    color: #666666;
    margin: 0 50px 28px 50px;
}

.see-other-button {
    background-color: #ffffff;
    color: #ff4e50;
    margin-bottom: 56px;
}

.see-other-button:focus,
.see-other-button:hover {
    background-color: #ff4e50;
    color: #ffffff;
    cursor: pointer;
}

.partners-item-photo {
    background-color: #ffffff;
}

.photo-container {
    width: 121px;
    height: 121px;
    margin: 0 auto;
    position: relative;
}

.photo-container::before {
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 50%;
    bottom: -3px;
    right: -4px;
}

.partners-list-item:nth-child(1) .photo-container::before {
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/d9246d5a20b40b580193b8b07a14e25f.png);
    background-color: #ff4e50;

}

.partners-list-item:nth-child(2) .photo-container::before {
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/53b527253cf298bfd879eea2178c933d.png);
    background-color: #ffa507;

}

.partners-list-item:nth-child(3) .photo-container::before {
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/139a8dfdb551dffa2f606db37748fac9.png);
    background-color: #1cd7ad;

}

.partners-list-item:nth-child(4) .photo-container::before {
    background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/83608d041fe7ac2ce888c0e1b0a2cbfb.png);
    background-color: #4e73db;

}

@media screen and (min-width: 768px) {

    .container {
        min-width: 748px;
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .promo {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-height: 700px;
        margin-bottom: 70px;
        background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/062c32c6ddb184b963b1caf6c4ff996b.png);
        background-color: rgba(0, 0, 0, 0.7);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        order: 0;
    }

    .nav-promo {
        padding: 0 50px;
        min-height: 76px;
        flex-direction: row;
        margin-bottom: 140px;
    }

    .nav-list {
        width: max-content;
    }

    .promo-title {
        font-size: 52px;
        margin: 0 130px 26px 130px;
    }

    .promo-subtitle {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .partners-title {
        margin-bottom: 30px;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 492px;
        margin: 0 auto;
    }

    .partners-list-item {
        width: 236px;
        margin: 0 5px;
    }

    .partners-list-item:not(:nth-last-child(-1n+2)) {
        margin-bottom: 58px;
    }

    .partners-list-item:nth-last-child(-1n+2) {
        margin-bottom: 38px;
    }

    .partners-item-description {
        margin: 0 10px 0 10px;
    }

    .find-button {
        min-width: 226px;
    }

    .see-other-button {
        min-width: 192px;
    }
}

@media screen and (min-width: 940px) {
    .container {
        min-width: 920px;
        max-width: 940px;
        margin: 0 auto;
    }

    .promo {
        width: 100%;
        min-height: 700px;
        margin-bottom: 70px;
        background-image: url(https://s8.hostingkartinok.com/uploads/images/2019/11/33cbf07a314ddaf00f14f071d215f692.png);
        background-color: rgba(0, 0, 0, 0.7);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nav-promo {
        padding: 0;
        min-height: 144px;
        min-width: 920px;
        max-width: 940px;
        margin-bottom: 90px;
        margin: 0;
        align-self: center;
    }

    .partners-list {
        justify-content: space-between;
        min-width: 920px;
        max-width: 940px;
    }

    .partners-list-item {
        width: 220px;
        margin: 0;
        margin-bottom: 38px;
    }

    .partners-list-item:not(:nth-last-child(-1n+2)),
    .partners-list-item:nth-last-child(-1n+2) {
        margin-bottom: 38px;
    }
}