html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.conteiner {
    width: 901px;
    margin: 0 auto 0 auto;
}

/*text format*/
body {
    font-family: "Playfair Display", "Arial";
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    ;
}

.nav-list a {
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.content-list h3 {
    font-family: "Ubuntu", "Arial";
    color: #b4ad9e;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.content-list h4 {
    font-size: 30px;
    line-height: 1.2;
}


/*navigation format*/
.nav-list {
    list-style: none;
    margin: unset;
}

.nav-list li {
    display: inline-block;
}

.nav-list {
    text-align: center;
    padding: 76px 0 80px 0;
}

.nav-list-item1 {
    margin-right: 120px;
}

.nav-list-item2 {
    margin-right: 100px;
}

.nav-list-item3 {
    margin-right: 94px;
}

.nav-list a:hover {
    color: cyan;
}

/*content format*/
.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-list li {
    display: inline-block;
    width: 420px;
}

li.content-list-item:nth-child(odd) {
    margin-right: 54px;
}

.content-list img,
h3 {
    margin-bottom: 30px;
}

.content-list h4 {
    margin-bottom: 34px;
}

.content-list-p {
    margin-bottom: 132px;
}

.content-list-last-p {
    margin-bottom: 54px;
}

/*button format*/
.first-but {
    font-family: inherit;
    font-style: inherit;
    font-size: 20px;
    color: inherit;
    line-height: 24px;
    text-decoration: none;
    background-color: #ffffff;
    border-image: none;
    border-color: #626262;
    border-width: 1px;
    padding: 18px 20px;
    margin: 0px 380px 70px 360px;
}

/*Взято со скринкаста в 3-тьем модуле*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}