.text {
  margin: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.title {
  margin: 0;
  font-family: "Montserrat", "Arial", "sans-serif";
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  font-family: "Kaushan Script", "Arial", "sans-serif";
  font-weight: 400;
}

.site-nav__link,
.form-feedback__button-submit,
.button--transparent {
  font-family: "Montserrat", "Arial", "sans-serif";
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.site-nav__link {
  font-weight: 400;
}

.section-welcome__subtitle {
  font-size: 72px;
  color: #ffffff;
}

.section-welcome__title {
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  max-width: 850px;
  margin: 0 auto 120px auto;
}

.section-services__subtitle,
.section-team__subtitle {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.section-services__title,
.section-team__title {
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  margin-bottom: 50px;
}

.section-services__small-title {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.team-card__name {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  position: absolute;
  bottom: 26px;
}
