$roboto: "Roboto", "Arial", "sans-serif";
$Montserrat: "Montserrat", "Arial", "sans-serif";
$Kaushan-Script: "Kaushan Script", "Arial", "sans-serif";
$text-color: #999999;
$white-link-color: #ffffff;
$title-color: #333333;
$main-color: #f38181;
$secondary-color: #fce38a;
$placeholder-color: #cccccc;
$services-icon-color: #95e1d3;
$footer-border-color: #e5e5e5;